// --- components ---------------------------------------------------------------------------------

.downloadButton
  display: inline-block
  text-decoration: none
  color: $colorCssowlLight
  font-size: $fontSizeBase
  +border-radius($cornerRaduis)
  border: 1px solid $colorCssowlLight

  &:hover
    color: $colorFontWhite
    background: $colorCssowlLight

    > .downloadButtonInfo
      border-right: 1px dashed $colorBgLight

  > .downloadButtonInfo
    float: left
    text-align: center
    padding: 8px 18px 12px
    border-right: 1px dashed $colorCssowlLight

    > .downloadButtonHead
      margin-bottom: 2px
      font-size: $fontSizeTitle
      +fontSpecialRegular

  > .downloadButtonPrice
    float: left
    padding: 11px 18px 0
    font-size: $fontSizeTitle
    +fontSpecialRegular
    font-size: $fontSizeSuperBig

#topbar
  height: 40px
  background: $colorBadge

  .sitenavi
    float: left
    margin: 0
    padding: 0
    text-align: center

    li
      float: left
      margin: 0 18px
      padding-top: 7px
      min-height: 40px
      list-style-type: none
      +fontSpecialRegular
      font-size: $fontSizeTitle

      &:hover
        border-bottom: 3px solid $colorFontGreyDark
        &.spriteowl
          border-color: $colorSpriteowlLight
          a
            color: $colorSpriteowlLight
        &.cssowl
          border-color: $colorCssowlLight
          a
            color: $colorCssowlLight
      &.active
        border-bottom: 3px solid $colorCssowlLight
        a
          color: $colorCssowlLight
      a
        color: $colorFontGreyDark
        text-decoration: none

        > .home
          margin-bottom: -3px
          +cssowl-sprite-replace($sprite-home)

  .madeby
    color: $colorFontGreyDark
    padding-top: 6px
    line-height: 25px
    float: right
    > .wjds
      margin-left: 5px
      margin-bottom: -3px
      +cssowl-sprite-replace($sprite-wjds)

// --- header -------------------------------------------------------------------------------------

#header
  background: $bgImg

  > .navbar
    background: none
    border: none
    font-size: $fontSizeBase
    margin-bottom: 0

    .navbar-header
      height: 120px

      .logo
        padding-top: 33px
        text-decoration: none
        color: $colorFontDefault
        font-size: $fontSizeBase
        +cssowl-sprite-before-absolute($sprite-logo, false false false false)

        &:before
          z-index: 1

        h1
          margin: 20px 0 0 90px
        h2
          color: $colorFontCssowl
          margin: 0px 0 0 120px
          font-size: $fontSizeSubTitle

      .navbar-toggle
        height: 40px
        margin-top: 48px
        border: 1px solid $colorFontDefault
        +border-radius($cornerRaduis)

        >.icon-bar
          background: $colorFontDefault

    nav

      .nav
        margin: 0 0 20px 0
        border-top: 1px solid $colorBorder

        li
          list-style-type: none
          margin: 10px 4px
          padding-top: 1px
          height: 34px
          +fontSpecialRegular
          font-size: $fontSizeTitle

          &:last-child
            margin-right: 0

          &.active
            a
              color: $colorCssowlLight
              background: none

              &:hover
                background: none
                color: $colorCssowlLight

          a
            height: auto
            background: none
            color: $colorFontDefault
            text-decoration: none

            &:hover
              color: $colorCssowlLight

            &.download
              margin-top: 6px
              padding: 8px 15px 10px
              color: $colorCssowlLight
              +border-radius($cornerRaduis)
              border: 1px solid $colorCssowlLight

              &:hover
                color: $colorFontWhite
                background: $colorCssowlLight



.bs-header
  color: #fff
  height: 130px
  position: relative
  padding: 20px 0 0 0
  text-align: center  !important
  font-size: $fontSizeBase !important
  background: $bgsites top center no-repeat $colorBgDark

  body.index &
    padding-top: 20px
    background: $bghome top center no-repeat $colorBgDark
    height: 380px

    .lead
      margin-top: 5px

    .downloadButton
      margin-top: 10px

  .lead
    margin-top: 15px
    font-size: $fontSizeTitle

  .title
    margin-top: 0
    line-height: 1.4em
    font-size: $fontSizeSuperBig


  .preview
    img
      margin-top: 50px
      margin-left: auto
      margin-right: auto


.bs-sidebar

  > .bs-sidenav
    margin-top: 40px
    padding-top: 10px
    border-radius: 5px
    margin-bottom: 30px
    padding-bottom: 10px
    background-color: $colorBgLight

  .nav
    > li
      > a
        +fontSpecialRegular
        font-size: $fontSizeTitle
        text-decoration: none
        display: block
        color: $colorFontDefault
        padding: 5px 20px

        &:hover,
        &:focus
          color: $brand-primary
          background-color: transparent
          border-right: 3px solid $brand-primary

      &.active,
      &.active:hover,
      &.active:focus
        > a
          color: $brand-primary
          background-color: transparent
          border-right: 3px solid $brand-primary

    .nav
      display: none
      // Hide by default, but at >768px, show it
      margin-bottom: 8px
      > li
        > a
          font-size: $fontSizeDefault
          padding-top: 3px
          padding-left: 30px
          padding-bottom: 3px

  &.affix
    top: 40px !important
    position: static

.bs-docs-content

  .nav-tabs
    margin: 0
    padding: 0
    +fontSpecialRegular
    font-size: $fontSizeSmall
    list-style-type: none

    > li

      &.htmltab
        margin-right: 7px

      &.active
        a
          color: $colorFontDefault
          border: 1px solid $colorBorder
          border-bottom: 0

      a
        text-decoration: none
        border-radius: 5px 5px 0 0
        padding: 5px 5px
        border: 1px solid $colorBadge
        border-bottom: 0
        margin-right: 1px
        color: $colorFontDefault !important

        &:hover
          background: $colorBadge
          color: $colorFontWhite !important


  .page-header
    margin-bottom: 10px
    border-bottom: 1px dashed $colorBorder


  .bs-docs-section
    padding-bottom: 80px

    .owlbtn
      display: inline-block
      text-decoration: none
      +fontSpecialRegular
      font-size: $fontSizeTitle
      padding: 8px 15px 10px
      color: $colorCssowlLight
      +border-radius($cornerRaduis)
      border: 1px solid $colorCssowlLight

      &:hover
        color: $colorFontWhite
        background: $colorCssowlLight

    &.bgDark
      background: $bgImgDark

    &.download
      .box
        background: $colorBgLight
        +border-radius($cornerRaduis)
        padding: 20px
        margin-bottom: 20px
        min-height: 200px

    &.explain, &.feedback
      .info
        text-align: center
        .box
          display: inline-block
          +fontSpecialRegular
          font-size: $fontSizeTitle
          //margin-top: 20px
          background: $colorBgLight
          +border-radius($cornerRaduis)
          padding: 10px 20px

    &.feedback
      padding-bottom: 100px
      .info
        .box
          margin-top: 0
          margin-bottom: 20px


    h3, .lead
      padding: 40px 0 15px
      small
        font-size: 0.7em

    .lead
      font-size: $fontSizeTitle

    p
      margin-bottom: 15px

    a
      color: $colorFontCssowl
      &:hover
        color: $colorFontDefault

    .intro
      margin-top: 40px
      font-size: $fontSizeBase
      text-align: center
      >.introText
        margin-bottom: 40px

    code,
    .highlight
      font-size: 12px
      background: $colorBgLight

    .bs-docs-example
      padding: 0 10px
      position: relative

      > .content
        margin: 20px 10px
        padding-bottom: 10px

      .highlight
        border-top: none
        border-top-left-radius: 0
        border-top-right-radius: 0


    .bs-docs-sprite
      display: inline-block
      background: $bgTrans

// --- Footer -------------------------------------------------------------------------------------

#footer
  background: $colorBadge
  color: $colorFontGreyDark

  .download
    text-align: center
    margin-top: 30px
    margin-bottom: 30px

    >.title
      +fontSpecialRegular
      font-size: $fontSizeBig
      margin-left: 20px
      margin-top: 15px
      float: left

  .newsletter
    text-align: center
    margin-bottom: 30px

    input
      width: 200px

    button
      color: $colorCssowlLight
      border: none
      height: 30px
      padding: 0 10px
      margin-left: 5px
      border: 1px solid $colorCssowlLight
      background: $colorBadge
      text-transform: uppercase
      margin-top: 10px

      &:hover
        color: $colorFontWhite
        background: $colorCssowlLight

    label
      width: 310px
      text-align: center
      margin-top: 5px
      color: $colorFontWhite

    > .title
      margin-top: 10px
      margin-bottom: 10px
      +fontSpecialRegular
      font-size: $fontSizeTitle

  .info
    border-top: 1px dashed #444444

    .bs-social-buttons
      width: 100%
      display: inline-block
      margin-top: 16px
      padding-left: 0
      list-style: none
      text-align: center

      li
        display: inline-block
        line-height: 1
        padding: 5px 0
        .twitter-follow-button
          width: 225px !important
        .twitter-share-button
          width: 93px !important
        .github-btn
          border: 0
          overflow: hidden

    .links
      padding-top: 20px
      text-align: center
      margin-bottom: 40px

      .changelog,
      .press-kit
        margin: 2px 10px
        display: inline-block
        a
          color: $colorFontGreyDark
          text-decoration: none

      .madeby
        display: inline-block
        margin: 2px 15px
        > .wjds
          margin-left: 5px
          margin-bottom: -3px
          +cssowl-sprite-replace($sprite-wjds)


