@media (min-width: $screen-tablet)

  #header
    > .navbar
      nav
        padding-right: 0
        .nav
          margin: 37px 0 0 0
          border-top: none
    &.index
      padding-top: 50px

  .bs-header
    body.index &
      .lead
        margin-top: 15px

      .downloadButton
        margin-top: 20px

    .title
      margin-top: 20px

  .bs-docs-content
    .nav-tabs
      font-size: $fontSizeSubTitle
      > li
        &.htmltab
          margin-right: 15px
        a
          padding: 8px 15px

  #footer
    .download
      text-align: left
      .downloadButton
        float: left

    .newsletter
      text-align: right
      margin-top: 10px
      margin-bottom: 0
      .title
        margin-right: 12px

    .info
      .bs-social-buttons
        li
          float: left
      .links
        text-align: right



@media (min-width: $screen-desktop)


  // --- animation
  .startslidemodule-in-left
    -webkit-transform: translateX(-300px)
    transform: translateX(-300px)
    -webkit-animation: come-in 0.8s ease forwards 1.5s
    animation: come-in 0.8s ease forwards 1.5s
    opacity: 0

  .startslidemodule-in-right
    -webkit-transform: translateX(300px)
    transform: translateX(300px)
    -webkit-animation: come-in 0.8s ease forwards 1.5s
    animation: come-in 0.8s ease forwards 1.5s
    opacity: 0

  .slidemodule-in
    -webkit-transform: translateY(100px)
    transform: translateY(100px)
    -webkit-animation: come-in 0.8s ease forwards 0.1s
    animation: come-in 0.8s ease forwards 0.1s
    opacity: 0

  .slidemodule-already-visible
    -webkit-transform: translateY(0)
    transform: translateY(0)
    -webkit-transform: translateX(0)
    transform: translateX(0)
    -webkit-animation: 0
    animation: 0
    opacity: 1

  @keyframes come-in
    to
      transform: translateY(0)
      opacity: 1

  @-webkit-keyframes come-in
    to
      -webkit-transform: translateY(0)
      opacity: 1


  .bs-sidebar
    .nav > .active > ul
      display: block

    &.affix, &.affix-bottom
      width: 213px

    &.affix
      position: fixed
      // Undo the static from mobile first approach
      top: 70px

    &.affix-bottom
      position: absolute
      // Undo the static from mobile first approach
      .bs-sidenav
        margin-top: 0
        margin-bottom: 0

    &.affix .bs-sidenav
      margin-top: 0
      margin-bottom: 0

  .bs-header
    .lead
      font-size: $fontSizeBig
    .title
      font-size: $fontSizeMegaBig

    .nav > .active > ul
      display: block

    &.affix, &.affix-bottom
      width: 213px

    &.affix
      position: fixed
      // Undo the static from mobile first approach
      top: 70px

    &.affix-bottom
      position: absolute
      // Undo the static from mobile first approach
      .bs-sidenav
        margin-top: 0
        margin-bottom: 0

    &.affix .bs-sidenav
      margin-top: 0
      margin-bottom: 0



@media (min-width: $screen-lg-desktop)
  // Widen the fixed sidebar again
  .bs-sidebar
    &.affix-bottom, &.affix
      width: 263px