//--- IMPORTS -------------------------------------------------------------------------------------

@import "../../../bower_components/sass-bootstrap/lib/_normalize.scss"
@import "../../../bower_components/sass-bootstrap/lib/_variables.scss"
@import "../../../bower_components/sass-bootstrap/lib/_mixins.scss"
@import "../../../bower_components/sass-bootstrap/lib/_type.scss"
@import "../../../bower_components/sass-bootstrap/lib/_navs.scss"
@import "../../../bower_components/sass-bootstrap/lib/_navbar.scss"
@import "../../../bower_components/sass-bootstrap/lib/_forms.scss"
@import "../../../bower_components/sass-bootstrap/lib/_grid.scss"
@import "../../../bower_components/sass-bootstrap/lib/_code.scss"
@import "../../../bower_components/sass-bootstrap/lib/_scaffolding.scss"
@import "pygments.github"

//--- STYLES --------------------------------------------------------------------------------------

body
  padding-top: 50px

.bs-header
  background: yellow

.bs-sidebar

  > .bs-sidenav
    margin-top: 30px
    padding-top: 10px
    border-radius: 5px
    margin-bottom: 30px
    padding-bottom: 10px
    text-shadow: 0 1px 0 #fff
    background-color: #f7f5fa

  .nav
    > li
      > a
        display: block
        color: #716b7a
        padding: 5px 20px

        &:hover,
        &:focus
          text-decoration: none
          background-color: #e5e3e9
          border-right: 1px solid #dbd8e0

      &.active,
      &.active:hover,
      &.active:focus
        > a
          color: #563d7c
          font-weight: bold
          background-color: transparent
          border-right: 1px solid #563d7c

    .nav
      display: none
      // Hide by default, but at >768px, show it
      margin-bottom: 8px
      > li
        > a
          font-size: 90%
          padding-top: 3px
          padding-left: 30px
          padding-bottom: 3px

  &.affix
    position: static

.bs-docs-content

  .bs-docs-section
    margin-bottom: 80px

    h2
      font-size: 20px
      margin: 20px 0 15px
      small
        font-size: 0.7em

    code,
    .highlight
      font-size: 12px

    .bs-docs-example
      position: relative
      padding: 15px 10px 0
      border: 1px solid $table-border-color
      border-top-left-radius: $border-radius-large
      border-top-right-radius: $border-radius-large

      > .content
        margin: 30px 10px 20px
        padding-bottom: 10px

      .highlight
        border-top: none
        border-top-left-radius: 0
        border-top-right-radius: 0

      &:before
        top: 10px
        left: 15px
        font-size: 13px
        content: "EXAMPLE"
        font-weight: bold
        position: absolute
        letter-spacing: 1px
        color: $table-border-color

    .bs-docs-sprite
      display: inline-block
      background: url("/assets/img/transbg.gif")


//--- MEDIA QUERIES -------------------------------------------------------------------------------

@import "all-992"
@import "all-1200"