%p <strong>The cssowl-sprite library contains mixins that help you do common tasks with sprite elements such as:</strong>

%ul
  %li Add and place a sprite element.
  %li Add a sprite element and replace the HTML text.
  %li Add a sprite element and make it float.
  %li Use the pseudo selector <code>:before</code> to add a sprite element.
  %li Use the pseudo selector <code>:after</code> to add a sprite element.

%p <strong>For the examples below we use this image as a sprite:</strong>

.bs-docs-example
  .content
    %img{:src => "/assets/img/sprite.png", :class => "bs-docs-sprite"}