%p The <strong>cssowl-sprite</strong> package contains mixins that help you do common tasks with sprite elements such as:

%ul
  %li Display a sprite element.
  %li Display a sprite element and replace the html text.
  %li Display and position a sprite element absolutely.
  %li Display a sprite element absolutely and make it float.
  %li Use the pseudo selector <code>:before</code> to display a sprite element.
  %li Use the pseudo selector <code>:after</code> to display a sprite element.

%p For the examples below we use this image as a sprite:

.bs-docs-example
  .content
    %img{:src => "/assets/img/sprite.png", :class => "bs-docs-sprite"}