%a.downloadButton{:href => "https://github.com/owl-stars/cssowl/archive/v#{data.cssowl.version}.zip"}
  .downloadButtonInfo
    .downloadButtonHead
      Download Cssowl
    .downloadButtonSubhead
      v#{data.cssowl.version}
  .downloadButtonPrice
    Free
