%p.lead Have a bug or a feature request?

%p Please #{link_to 'open a new issue', 'https://github.com/owl-stars/cssowl/issues'} if you found any bugs or have a new feature request.

%p You may use #{link_to 'this JSFIDDLE', 'http://jsfiddle.net/vmBXP/1/'} if you need to test something.