---
title: Changelog
---

%article.bs-docs-content.bs-docs-container{role:"main"}

  .bs-docs-section
    .container

      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle Version 1.3.0
          .introText
            :markdown
              * Added composer support
              * Refactored some extendable usages to mixin usages due to precompiler limitations when using extenables within nested media queries

      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle Version 1.2.0
          .introText
            :markdown
              * Updated build dependencies
              * Updated retina media query

      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle Version 1.1.1
          .introText
            :markdown
              * Fixed tests

      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle Version 1.1.0
          .introText
            :markdown
              * Updated documentations


      .row
        .col-xs-12.col-md-8.col-md-offset-2.intro
          %h2.introTitle Version 0.1.0
          .introText
            :markdown
              * Initial release
