.bs-docs-section

  .page-header
    %h1#introduction Introduction

  = partial "docs/introduction"

.bs-docs-section

  .page-header
    %h1#download Download Cssowl

  = partial "docs/download"


-content_for :nav do
  %ul.nav.bs-sidenav
    %li
      %a{:href => "#introduction"} Introduction
    %li
      %a{:href => "#download"} Download