---
title: Position Package
nav: position
---

.container.bs-docs-container
  .row
    .col-md-3
      .bs-sidebar.hidden-print
        %ul.nav.bs-sidenav
          %li
            %a{:href => "#absolute"} Absolute
            %ul.nav
              %li
                %a{:href => "#cssowl-position-absolute"} absolute
              %li
                %a{:href => "#cssowl-position-absolute-inside"} absolute-inside
              %li
                %a{:href => "#cssowl-position-absolute-outside"} absolute-outside

    .col-md-9.bs-docs-content

      .bs-docs-section

        .page-header
          %h1#overview Overview

        %p The <strong>cssowl-absolute</strong> package contains common mixins to position elements.

      .bs-docs-section

        .page-header
          %h1#absolute Absolute

        = partial "docs/cssowl/position/absolute"
        = partial "docs/cssowl/position/absolute-inside"
        = partial "docs/cssowl/position/absolute-outside"
